<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>controller.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobServlet</servlet-name>
        <servlet-class>controller.JobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVServlet</servlet-name>
        <servlet-class>controller.CVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDetailServlet</servlet-name>
        <servlet-class>controller.JobDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveJobServlet</servlet-name>
        <servlet-class>controller.SaveJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>controller.CompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyDetailServlet</servlet-name>
        <servlet-class>controller.CompanyDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyServlet</servlet-name>
        <servlet-class>controller.ApplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJobServlet</servlet-name>
        <servlet-class>controller.ApplyJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>controller.CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatbotServlet</servlet-name>
        <servlet-class>controller.ChatbotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViecLamServlet</servlet-name>
        <servlet-class>controller.ViecLamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>controller.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowApplyJob</servlet-name>
        <servlet-class>controller.ShowApplyJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSaveJob</servlet-name>
        <servlet-class>controller.ShowSaveJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobServlet</servlet-name>
        <url-pattern>/views/jobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVServlet</servlet-name>
        <url-pattern>/views/cv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetailServlet</servlet-name>
        <url-pattern>/views/job-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveJobServlet</servlet-name>
        <url-pattern>/views/save-job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/views/company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyDetailServlet</servlet-name>
        <url-pattern>/views/company-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/views/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyServlet</servlet-name>
        <url-pattern>/views/apply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/views/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/views/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJobServlet</servlet-name>
        <url-pattern>/views/applyjob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/views/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatbotServlet</servlet-name>
        <url-pattern>/views/chatbot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViecLamServlet</servlet-name>
        <url-pattern>/views/viec-lam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/views/checklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowApplyJob</servlet-name>
        <url-pattern>/views/showapplyjob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSaveJob</servlet-name>
        <url-pattern>/views/showsavejob</url-pattern>
    </servlet-mapping>
</web-app>
